<div class="col-md-3 mb-4">
    <div class="account-sidebar p-3">
        <h5 class="mb-3">Your Account</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/Customer/Profile/Index">
                    <i class="fas fa-user me-2"></i> Account Overview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Customer/Profile/Orders">
                    <i class="fas fa-box-open me-2"></i> Your Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-lock me-2"></i> Login & Security
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-gift me-2"></i> Gift Cards
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-credit-card me-2"></i> Your Payments
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-map-marker-alt me-2"></i> Your Addresses
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-calendar-alt me-2"></i> Installment Plan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-envelope me-2"></i> Your Messages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-headset me-2"></i> Contact Us
                </a>
            </li>
        </ul>
    </div>
</div>
